   /*
        * Background: #F5F5F5 (GREY 100)
        * Primary Text: black
        * Primary color: #3F51B5 (INDIGO)
        * Primary color_text : white
        * Accent color: #CDDC39 (LIME)
        * Accent color_text: black
        */

/* Global */

* {
               
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color:#F5F5F5;
}
strong{
    text-transform: uppercase;
}
/* App bar */

.app-bar {
    background-color:#3F51B5;
    color: white;
   height:64px;
   font-size: 20px;
  font-weight: normal;
  line-height: 64px;
  padding-left: 60px;
  position: relative;
  top:  0%;
}

#moocus { 
    position: absolute;
    left: 10px;
    top: 10px;
    
}

#starred {
position: absolute;
right: 16px;
bottom: 20px;
vertical-align: middle;


}
/* Channels list */

ul {
    background-color: white;
    list-style-type: none ;
    height: 90%;
}
ul img{
    vertical-align: middle;
}
ul li{
    box-sizing: border-box;
    padding: 16px;
    height: 48px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;
    
 }
.selected2{
    color: #3F51B5;
    border-left: 4px solid #3F51B5;

}

.channel-meta {
  position: relative;
left: 65%;
    vertical-align: middle;
    
    
}
/* Tab bar */
#tab-bar {
 background-color: white;
 text-align: center;
width: 100%;
display: flex;
position: absolute;
  bottom:  0%;
}


#tab-bar button{
   
    background-color: white;
    text-transform: uppercase;
    border: none; 
    font-size: 13px;
    width: 33%;
    height: 72px;  
    padding: 16px;
  flex: 1;  
 
  
}

#tab-bar img{
    display: block;
    margin: auto;
    padding:4px;
 
}
#tab-bar button.selected {
   
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

/* Messages */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
    justify-content: space-evenly;
    
  

   }
.own{
    margin-left: 17.5%;
    justify-content: space-evenly;
}
.message h3{
    font-size: medium;
    justify-content: space-evenly;
   

}
.message p{
    background-color:white;
    padding: 16px;
    
}
.message button {
    background-color: #CDDC39;
     color:black;
     text-transform: uppercase;

     position: relative;
     left: 90%;
     bottom: 30px;

}
.message i {
    font-size: larger;
    /* non-italic */
    font-style:normal;
}
a {
    text-transform: uppercase;
    color: black;
}

/* section */

#channels {

position: absolute; 
width: 40%;
height: 100%;



}

#chat {
position: absolute; 
  left: 40%;
  width: 60%;
  height: 100%;

}
#chat-bar{
    background-color: white;
    border-color: black; 
    padding: 16px;
margin: 16px 284px;
font-size: 28px;
text-align: left;

}
#emojis-button{
    position: absolute;
    left: 0%;
    bottom:0%;

background-color: white;
border: none; 
width: 100%;
height: 60px; 

}

